.header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.logo a {
    font-size: 35px;
    color: black;
    text-decoration: none;
}
.main-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}
.main-nav ul {
    margin-top: 10px;
}
.main-nav a {
    color: black;
    text-decoration: none;
}
.main-nav p {
    margin: 0;
    color: green;
    font-size: 18px;
}
.main-nav a:hover {
    text-decoration: underline;
}
.main-nav span {
    font-weight: bold;
    margin-right: 15px;
}
.main-nav button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.main-nav button:hover {
    text-decoration: underline;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 15px;
    left: -10px;
    position: relative;
}
